<main class="index">            
    <section class="masthead" id="image">
            <div class="container text-center my-auto">
            <h1 class="mb-1"> Bienvenido a MedicalSignal </h1>
            <h3 class="mb-5">
                <em>Analice las Señales de sus Pacientes</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
              Lets get Started
            </a>
        </div>
    </section>
</main> 
