 <nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #0c0846;">
  <div class="container ">
    <a class="navbar-brand " style="color:rgb(236, 236, 236);" href="/">🩺 MedicalSignal 🩺</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/signin" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;">Inicio</a>
      </li>
  </div>
</nav> 

  

<body class="index">
    
    <section class="masthead" id="image">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Bienvenido a MedicalSignal </h1>
            <h3 class="mb-5">
                <em>Analice las Señales de sus Pacientes</em>
            </h3>
            <a href="/signin" class="bn39">
                 <button class="btn btn-primary font-weight-bold" style="width: auto;">Comenzar</button>
            </a>
        </div>
    </section>
</body>
