<nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #0c0846;">
  <div class="container ">
    <a class="navbar-brand " style="color:rgb(236, 236, 236);" href="/">🩺 MedicalSignal 🩺</a>
    <ul class="navbar-nav ml-auto">
     {{!--  <li class="nav-item">
        <a href="/signin" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i
            class="fa-solid fa-house-user"></i> Inicio</a>
      </li> --}}
      <li class="nav-item">
        <a href="/profile" class="nav-link font-weight-bold  shadow-lg  refer" style="color: rgb(247, 240, 240);"><i
            class="fa-solid fa-user-doctor"></i> Perfil</a>
      </li>
      <li class="nav-item">
        <a href="/list" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i
            class="fa-solid fa-kit-medical"></i> Pacientes</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div class="dropdown show" style="padding-left: 5%;">
        <a class=" mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          style="color: black;">
          <img src="/img/equipo-medico.png" alt="logo" class="mx-auto m-2 rounded-circle"
            style="width:35px ; border: solid rgb(103, 192, 214);">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Settings"><i class="fa-solid fa-gear"></i> Configuracion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
        </div>
      </div>
    </ul>
  </div>
</nav>

<body id="bod">
  <container>
    <div class="row" id="profil">
      <div class="col-md-4 ml-5">

        <h3 id="ini" class="font-weight-bold" style="color:rgb(236, 236, 236); font-size:30px"> Bienvenido Dr. {{user.username}} </h3>
        <h4 class="font-weight-bold" style="font-size: 22px; color:#ffffff; ">
          Realiza fácilmente la historia clinica de tu pacientes.
          <br>
          Visualiza las señales fisiologicas y sus parametros
        </h4>
      </div>
    </div>
  </container>

  <div class="row p-2" id="profile">
    {{!-- <div class="row p-2" style="background-color:#cce2f1" id="profile"></div> --}}
    <h3 id="ini"   class="mb-md-3 col-12 col-md-12 text-center font-weight-bold" style="color: #12bfdd;">Servicios Disponibles</h3>
    <div class="col-sm-4 mx-auto text-center profile">
      <div class="card shadow-lg">
        <a href="/registro" class="card-link cart">
          <div class="card-body ">
            <div class="card-title">

              <img src="/img/medical-report-2374867-1988327.png" alt="logo" class="mx-auto m-2">
            </div>
            <h6 class="font-weight-bold h">Registre sus Nuevos paciente y su historial clinico</h6>

          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-4 mx-auto text-center profile">
      <div class="card shadow-lg">
        <a href="/list" class="card-link cart">
          <div class="card-body">
            <div class="card-title">

              <img src="/img/ecg-monitor-2374869-1988329.png" alt="logo" class="mx-auto m-2">
            </div>
            <h6 class="font-weight-bold">Seguimiento de los Paciente Actuales</h6>

          </div>
        </a>
      </div>
    </div>

  </div>

</body>