<container class="p-4">
    <div class="row">
        <div class="col-md-4 ml-5">
            <div class="card text-center">
                <div class="card-body">
                    <h3> Welcome Dr. {{user.username}} </h3>
                </div>
            </div>
        </div>
    </div>
</container>

<div class="row p-2" style="background-color:#cce2f1"  >
   <h3 class="mb-md-3 col-12 col-md-12 text-center font-weight-bold">Servicios Disponibles</h3>
    <div class="col-sm-4 mx-auto text-center">
      <div class="card">
        <a href="/registro" class="card-link">
        <div class="card-body">
           <div class="card-title">
                
                <img src="/img/medical-report-2374867-1988327.png" alt="logo" class="mx-auto m-2">
           </div>
              <h6 style="color:black;">Registre sus Nuevos paciente y su historial clinico</h6>
              
        </div>
        </a>
      </div>
    </div>

      <div class="col-sm-4 mx-auto text-center">
      <div class="card">
        <a href="/list" class="card-link">
        <div class="card-body">
           <div class="card-title">
                
                <img src="/img/ecg-monitor-2374869-1988329.png" alt="logo" class="mx-auto m-2">
           </div>
              <h6 style="color:black;">Seguimiento de los Paciente Actuales</h6>
              
        </div>
        </a>
      </div>
    </div>

</div>

