
.cart{
    color: #000;
}
.cart:hover{
    background:linear-gradient(  rgba(230, 230, 230, 0.896),
    rgba(17, 127, 206, 0.918));
    transition: 0.2s;
    color: rgb(255, 255, 255);
    border: rgb(12, 47, 121) solid;
    
}

@keyframes pan{
    100% {background-position: 15% 50%;}
  }
#bod{
  background-image: url("/img/csg.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  animation: pan 6s infinite alternate linear; 

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    overflow: auto;
    height: 100vh;
    width: auto;
    margin: 0%;
    padding: 0%;

}

#ini{
    
        -webkit-text-stroke: 2px black;
        color: transparent; 
}