
@keyframes pan{
  100% {background-position: 15% 50%;}
}

 .sigmain{
  background-image: url("/img/fondo.svg");
  background-repeat: no-repeat;
  background-size: cover ;
  animation: pan 6s infinite alternate linear; 

    font-family: sans-serif;
    
    overflow: auto;
    height: 100vh;
    width: auto;
    margin: 0%;
    padding: 0%;
    

 
}

@media (width >= 500px){
  .sigmain{
    padding: 0;
  }
}


 
#cardi{
  
    width: auto;
    background-color:#ffffff;
   
  
  }
  
  #conta1{
    width: auto;
    padding: 1%;
  }
  
  
 /*  #conta2{
    width: 90%;
    padding: 5%;
  } */
  

  #pills-tab{
  
    display:table !important;
    width:100%;
  }
  
  #pills-tab .nav-link {
      border-radius: 0px;
          border-bottom: 1px solid #0d6efd40;
  
  }
  
  #item{
        display: table-cell;
         background: #0d6efd2e;
  }
  