<div class="container p-4">
  <form action="/adminregistsecret" method="post">
    <div class="form-row p-2">
      <div class="col">
        <label for="name"><i class="far fa-user"></i> Nombre</label>
        <input type="text" class="form-control shadow-lg border border-dark" placeholder="Usuario" id="name" name="username">
      </div>
      <div class="col">
        <label for="apellidos"><i class="fas fa-user"></i> Apellidos</label>
        <input type="text" class="form-control shadow-lg border border-dark" placeholder="Apellidos" id="apellidos"
          name="lastname">
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col">
        <label for="name"><i class="fa-regular fa-id-card"></i> Identificaci칩n</label>
        <input type="text" class="form-control shadow-lg border border-dark" placeholder="Identificaci칩n" id="name"
          name="ident">
      </div>
      <div class="col">
        <label for="name"><i class="fa-solid fa-envelope"></i> Direccion de Correo</label>
        <input type="email" class="form-control shadow-lg border border-dark" placeholder="email" id="name" name="email">
      </div>
    </div>
    <div class="form-row p-2">
       <div class="col">
        <label for="name"><i class="fa-solid fa-user-tie"></i> Usuario</label>
        <input type="text" class="form-control shadow-lg border border-dark" placeholder="Usuario" id="name" name="usern">
      </div>
      <div class="col">
        <label for="name"><i class="fa-solid fa-lock"></i> Contrase침a</label>
        <input type="text" class="form-control shadow-lg border border-dark" placeholder="Contrase침a" id="name" name="password">
      </div>
    </div>

    <div class="form-group p-2">
      <button class="btn btn-success btn-block">
        Enviar
      </button>
    </div>

  </form>

</div>