<div class="container p-4">
  <form action="/registro" method="post">
    <div class="form-row p-2">
      <div class="col">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="First name" id="name" name="name">
      </div>
      <div class="col">
        <label for="apellidos">Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" id="apellidos" name="lastname">
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col">
        <label for="name">Indentification</label>
        <input type="text" class="form-control" placeholder="Identification" id="name" name="ident">
      </div>
      <div class="col">
        <label for="Genero">Gender</label>
        <select class="form-control" id="Genero" name="gender">
          <option>-----</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col">
        <label for="name">Age</label>
        <input type="number" class="form-control" placeholder="Age" id="age" name="age" min="1" max="100">
      </div>
      <div class="col">
        <label for="Genero">Blood Type</label>
        <select class="form-control" id="bt" name="bt">
          <option>-----</option>
          <option>A+</option>
          <option>B+</option>
          <option>O+</option>
          <option>AB+</option>
          <option>A-</option>
          <option>B-</option>
          <option>O-</option>
          <option>AB-</option>
        </select>
      </div>

      <div class="col">
        <label for="name">Date</label>
        <input type="date" class="form-control" placeholder="date" id="date" name="date">
      </div>
    </div>


    <div class="form-row p-2">
      <div class="col">
        <label for="name">Occupation</label>
        <input type="text" class="form-control" placeholder="Occupation" id="oc" name="oc">
      </div>
      <div class="col">
        <label for="Genero">Estado Civil</label>
        <select class="form-control" id="ec" name="ec">
          <option>-----</option>
          <option>Soltero</option>
          <option>Casado</option>
        </select>
      </div>
      <div class="col">
        <label for="name">Phone</label>
        <input type="tel" class="form-control" placeholder="Phone" id="tel" name="phone">
      </div>
    </div>






    <div class="form-row p-2">
      <div class="col">
        <label for="name">Address</label>
        <input type="text" class="form-control" placeholder="address" id="add" name="address">
      </div>
      <div class="col">
        <label for="apellidos">Place of residence</label>
        <input type="text" class="form-control" placeholder="Place of residence" id="pr" name="pr">
      </div>
    </div>


    <div class="form-group p-2">

      <label for="exampleFormControlFile1">ecg data</label>
      <input type="file" class="form-control-file" id="file" >


    </div>

    <script>

      function read(e) {
        const archivo = e.target.files[0];



        const reader = new FileReader();
        reader.onload = function (e) {

          const data = e.target.result;

          const csv2json = (str, delimiter = ',') => {
            const titles = str.slice(0, str.indexOf('\n')).split(delimiter);
            const rows = str.slice(str.indexOf('\n') + 26).split('\n');
            return rows.map(row => {
              const values = row.split(delimiter);
              return titles.reduce((object, curr, i) => (object[curr] = values[i], object), {})
            });
          }
          let dat = csv2json(data)

          const time2ms = time => {
            let t = time.replaceAll("'", "")

            let [seg, ms] = t.split('.');
            let [min, sg] = seg.split(':');
            ms = Number(ms) + Number(sg) * 1000 + Number(min) * 1000 * 60
            return ms/1000
          }

          
        
          
          let ecgdata = dat.map(arr => {
            let re = Number(arr["'ECG I'"])
            let time = time2ms(arr["'Elapsed time'"])
             
            return { x: time, y: re }
          });
        
          console.log(ecgdata.slice(0, -1))

         fetch('/registro2', {

            // HTTP request type
            method: "POST",
            headers: { "Content-Type": "application/json" },
            // Sending our blob with our request
            body: JSON.stringify(ecgdata.slice(0, -1))
          })
            .then(response => console.log("Upload"))
            .catch(err => console.error(err));



        };

        reader.readAsText(archivo)

      }

      
      document.querySelector('input[type="file"]').addEventListener('change', read);

    </script>




    <div class="form-group p-2">
      <button class="btn btn-success btn-block">
        Enviar
      </button>
    </div>

  </form>

</div>