<div class="container p-4">
  <form action="/registro" method="post">
    <div class="form-row p-2">
      <div class="col">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" id="name" name="name">
      </div>
      <div class="col">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" placeholder="Apellidos" id="apellidos" name="lastname">
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col">
        <label for="name">Identificación</label>
        <input type="text" class="form-control" placeholder="Identificación" id="name" name="ident">
      </div>
      <div class="col">
        <label for="Genero">Sexo</label>
        <select class="form-control" id="Genero" name="gender">
          <option>-----</option>
          <option>Masculino</option>
          <option>Femenino</option>
        </select>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col">
        <label for="name">Edad</label>
        <input type="number" class="form-control" placeholder="Edad" id="age" name="age" min="1" max="100">
      </div>
      <div class="col">
        <label for="Genero">Tipo de sangre</label>
        <select class="form-control" id="bt" name="bt">
          <option>-----</option>
          <option>A+</option>
          <option>B+</option>
          <option>O+</option>
          <option>AB+</option>
          <option>A-</option>
          <option>B-</option>
          <option>O-</option>
          <option>AB-</option>
        </select>
      </div>

      <div class="col">
        <label for="name">Fecha de nacimiento</label>
        <input type="date" class="form-control" placeholder="Fecha de nacimiento" id="date" name="date">
      </div>
    </div>


    <div class="form-row p-2">
      <div class="col">
        <label for="name">Ocupación</label>
        <input type="text" class="form-control" placeholder="Ocupación" id="oc" name="oc">
      </div>
      <div class="col">
        <label for="Genero">Estado Civil</label>
        <select class="form-control" id="ec" name="ec">
          <option>-----</option>
          <option>Soltero</option>
          <option>Casado</option>
          <option>Viudo</option>
          <option>Divorsiado</option>
          <option>Union libre</option>
        </select>
      </div>
      <div class="col">
        <label for="name">Celular</label>
        <input type="tel" class="form-control" placeholder="Celular" id="tel" name="phone">
      </div>
    </div>






    <div class="form-row p-2">
      <div class="col">
        <label for="name">Direccion</label>
        <input type="text" class="form-control" placeholder="Dirección" id="add" name="address">
      </div>
      <div class="col">
        <label for="apellidos">Barrio</label>
        <input type="text" class="form-control" placeholder="Barrio" id="pr" name="pr">
      </div>
    </div>


    <div class="form-group p-2">

      <label for="exampleFormControlFile1">datos ECG, PPG,RESP</label>
      <input type="file" class="form-control-file" id="file">


    </div>

    <script>

      function read(e) {
        const archivo = e.target.files[0];


        function csvToArray(str, delimiter = ",") {


          const headers = str.slice(0, str.indexOf("\n", "\r")).split(delimiter);


          const rows = str.slice(str.indexOf("\n") + 1).split("\n");





          const arr = rows.map(function (row) {
            const values = row.split(delimiter);
            const el = headers.reduce(function (object, header, index) {
              object[header] = values[index];
              return object;
            }, {});
            return el;
          });


          return arr;
        }

        const reader = new FileReader();
        reader.onload = function (e) {

          const data = e.target.result;
          const d = data.replace(/[\r]/g, '');
          const dat = csvToArray(d)



          let ppgdata = dat.map(arr => {
            let time = Number(arr['Time [s]'])
            let re = Number(arr[' PLETH'])

            return { x: time, y: re }
          });

          let ecgdata = dat.map(arr => {
            let time = Number(arr['Time [s]'])
            let re = Number(arr[" II"])

            return { x: time, y: re }
          });

          let respdata = dat.map(arr => {
            let time = Number(arr['Time [s]'])
            let re = Number(arr[" RESP"])

            return { x: time, y: re }
          });

          console.log(ecgdata)
          console.log(ppgdata)
          console.log(respdata)

          let vector = [ecgdata, ppgdata, respdata]
          console.log(vector)

          /*const csv2json = (str, delimiter = ',') => {
            const titles = str.slice(0, str.indexOf('\n')).split(delimiter);
            const rows = str.slice(str.indexOf('\n') + 26).split('\n');
            return rows.map(row => {
              const values = row.split(delimiter);
              return titles.reduce((object, curr, i) => (object[curr] = values[i], object), {})
            });
          }
          let dat = csv2json(data)*/

          /*const time2ms = time => {
            let t = time.replaceAll("'", "")

            let [seg, ms] = t.split('.');
            let [min, sg] = seg.split(':');
            ms = Number(ms) + Number(sg) * 1000 + Number(min) * 1000 * 60
            return ms/1000
          }*/




          /* ecgdata = dat.map(arr => {
            let re = Number(arr["'ECG I'"])
            let time = time2ms(arr["'Elapsed time'"])

            return { x: time, y: re }
          });*/

          /*console.log(ecgdata.slice(0, -1))*/

          fetch('/registro2', {

            // HTTP request type
            method: "POST",
            headers: { "Content-Type": "application/json" },
            // Sending our blob with our request
            body: JSON.stringify(vector)
          })
            .then(response => console.log("Upload"))
            .catch(err => console.error(err));



        };

        reader.readAsText(archivo)

      }


      document.querySelector('input[type="file"]').addEventListener('change', read);

    </script>




    <div class="form-group p-2">
      <button class="btn btn-success btn-block">
        Enviar
      </button>
    </div>

  </form>

</div>