<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header" id="headeradmins">
                    <h3>Only admins</h3>
                </div>
                <div class="card-body" id="admins">
                    <img src="/img/detective.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/admins" method="post">
                       
                        <div class="form-group">
                            <input type="text" name="usernameadmin" placeholder="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordadmin" placeholder="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-block">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>